/**********  ACCORDION **********/
.accordion, .menu {
    /*    background-color: #f2f2f2;
        color: #666;*/
    margin: 0;
    padding: 0;
    overflow: auto;
}

button { 
    color:white;
}

.accordion li {
    padding: 0;
    list-style-type: none;
}

.accordion-control {
    /*    background-color:  #303030; 
        color: #fff;*/
    /*display: block;*/
    width: 100%;
    padding: 0em 0em 0em 0em;
    margin: 0;
    border-top: 1px solid #666;
    border-style: hidden;
}

.accordion-panel {
    display: none;
}










form {
    font-family: Arial, Verdana, sans-serif;
    color:#665544
}

input {
    border-bottom: 1px dotted #dcdcdc;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5px;
    width: 280px;
    margin-bottom: 20px;
}

input:focus {
    border: 1px dotted #dcdcdc;
    outline: none;
}

input#submit {
    color: #ffffff;
    background-color: #665544;
    border: none;
    border-radius: 5px;
    width: 80px;
}

input#submit:hover {
    color: #665544;
    background-color: #efefef;
}

fieldset {
    width: 350px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}

legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
}

/*.accordion-panel p {
  margin: 20px;
}

.accordion-panel img {
  display: block;
  clear: left;
}*/